{:modes {:+ #{:editor.javascript}}
 :snippets [{:name "JavaScript function"
             :key "fn"
             :snippet "function ${1:name} (${2:params}) {$0}"}
            {:name "JavaScript function expression"
             :key "fne"
             :snippet-file "fun-expr.snip"}
            {:name "JavaScript object method"
             :key "fnm"
             :snippet-file "fun-obj.snip" }
            {:name "JavaScript component"
             :key "cmp"
             :snippet-file "comp.snip"}
            {:name "JavaScript Component create method"
             :key "cc"
             :snippet-file "component-create.snip"}
            {:name "JavaScript For loop"
             :key "for"
             :snippet-file "for.snip"}
            {:name "JavaScript For in loop"
             :key "forin"
             :snippet-file "forIn.snip"}
            ]}


